[*]
end_of_line = crlf

[*.xml]
indent_style = tab

insert_final_newline = true

[*.cs]
indent_style = tab
trim_trailing_whitespace = true
csharp_prefer_braces = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = silent

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none
